{% extends "base-ads.html" %}
<!DOCTYPE html>
<html>
	<head>
    {% block head %}
      <title>The Economist</title>
      <script>
        jQuery(document).ready(function($) {
            $("#banner-ad1").hide();
            $("#banner-ad1").fadeIn(1500);
        });
      </script>
      <style>
        body {
          background-image: url("/static/img/economist_background.jpg");
          background-color: #ffffff;
          background-size: 1260px auto;
          background-repeat: no-repeat;
          height: 4800px;
          margin: 0px;
          position: relative;
        }

        #banner-ad1 {
          position: absolute;
          top: 0px;
          left: 150px;
        }
      </style>
    {% endblock %}
	</head>
	<body>
    {% block page_content %}
      <div id="banner-ad1"><img src="/static/img/{{vert}}-economist-ad.jpg" /></div>
    {% endblock %}
	</body>
</html>