{% extends "base106.html" %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <title>Turner Tech</title>
    {% endblock %}
  </head>
  <body>
    {% block navbar %}
    <!--Navbar-->
    <nav class="navbar navbar-fixed-top navbar-dark bg-primary">
      <!-- Collapse button-->
      <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapseEx2">
      <i class="fa fa-bars"></i>
      </button>
      <div class="container">
        <!--Collapse content-->
        <div class="collapse navbar-toggleable-xs" id="collapseEx2">
          <!--Navbar Brand-->
          <a class="navbar-brand"></a>
          <!--Links-->
          <ul class="nav navbar-nav">
            <!-- <li id="navbar-logo" class="nav-item">
              <a class="nav-link">
                  <img src="/static/img/turner-travel.png">
              </a>
              </li> -->
            <li class="nav-item active">
              <a class="nav-link">Products<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Solutions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Why Turner</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Resources</a>
            </li>
          </ul>
        </div>
        <!--/.Collapse content-->
      </div>
    </nav>
    <!--/.Navbar-->
    {% endblock %} 
    {% block carousel_content %}
    <!--Carousel Wrapper-->
    <div id="carousel-example-1" class="carousel slide carousel-fade" data-ride="carousel">
      <!--Slides-->
      <div class="carousel-inner" role="listbox">
          <!--First slide-->
        <!-- NEW-CONTENT changed height on below div to 98% from 100% -->
        <div style="z-index: 0; height: 98%; background-color: rgba(17, 17, 17, 1);">
            <div id="rtp-replace" class="carousel-item active" style="background-image: url('/static/img/tech_hero.jpg'); background-size: cover; overflow: hidden; opacity: 0.667;"></div>
            <div style="z-index: 1; position: relative; top: -95%; height: 100%;">
              <div class="flex-center animated transformDown">
                <ul>
                  <li>
                    <h1 class="h1-responsive">Enterprise Grade Cloud Solutions</h1>
                  </li>
                  <li>
                    <a class="btn btn-default btn-lg bg-primary" href="?display=personalized">Learn More</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
      
        <!--/.First slide-->
      </div>
      <!--/.Slides-->
    </div>
    <!--/.Carousel Wrapper-->
    {% endblock %}
    {% block page_content %}
    <!--Content-->
    <div class="container">
      <!-- NEW-CONTENT: icon holder -->
    <div class="icon-wrapper">
      <div class="icon-clickable-container">
          <i class="fas fa-building icon-click-to-change active" value="building"></i>
          <i class="fas fa-clipboard-list icon-click-to-change" value="list"></i>
          <i class="fas fa-user-circle icon-click-to-change" value="head"></i>
      </div>
    </div>

    <!-- start -->
    <div class="row" data-section-val="building">
        <!--First columnn-->
        <div class="col-md-4">
          <!--Card-->
          <div class="card">
            <!--Card image-->
            <div class="view overlay hm-white-slight">
              <img src="/static/img/tech_card1.jpg" class="img-fluid" alt="">
              <a href="#">
                <div class="mask"></div>
              </a>
            </div>
            <!--/.Card image-->
            <!--Card content-->
            <div class="card-block">
              <!--Title-->
              <h4 class="card-title">Data Protection and HIPPA</h4>
              <!--Text-->
              <p class="card-text">Healthcare Security: Understanding HIPAA Compliance and its Role in Patient Data Protection.</p>
              <a href="#" class="btn btn-primary">Learn more</a>
            </div>
            <!--/.Card content-->
          </div>
          <!--/.Card-->
        </div>
        <!--First columnn-->
        <!--Second columnn-->
        <div class="col-md-4">
          <!--Card-->
          <div class="card">
            <!--Card image-->
            <div class="view overlay hm-white-slight">
              <img src="/static/img/tech_card2.jpg" class="img-fluid" alt="">
              <a href="#">
                <div class="mask"></div>
              </a>
            </div>
            <!--/.Card image-->
            <!--Card content-->
            <div class="card-block">
              <!--Title-->
              <h4 class="card-title">Scripps Hospital</h4>
              <!--Text-->
              <p class="card-text">See how Scripps Hospital protects patient data from breach.</p>
              <a href="#" class="btn btn-primary">Download</a>
            </div>
            <!--/.Card content-->
          </div>
          <!--/.Card-->
        </div>
        <!--Second columnn-->
        <!--Third columnn-->
        <div class="col-md-4">
          <!--Card-->
          <div class="card">
            <!--Card image-->
            <div class="view overlay hm-white-slight">
              <img src="/static/img/tech_card3.jpg" class="img-fluid" alt="">
              <a href="#">
                <div class="mask"></div>
              </a>
            </div>
            <!--/.Card image-->
            <!--Card content-->
            <div class="card-block">
              <!--Title-->
              <h4 class="card-title">Data Protection at BCH</h4>
              <!--Text-->
              <p class="card-text">Hear Dan Nigrin, CIO, Boston Children’s Hospital discuss the data protection best practices.</p>
              <a href="#" class="btn btn-primary">Listen Now</a>
            </div>
            <!--/.Card content-->
          </div>
          <!--/.Card-->
        </div>
        <!--Third columnn-->
      </div>

      <!-- Second Set of tiles -->

      <div class="row" data-section-val="list" style="display: none;">
        <!--First columnn-->
        <div class="col-md-4">
          <!--Card-->
          <div class="card">
            <!--Card image-->
            <div class="view overlay hm-white-slight">
              <img src="/static/img/tech_card4.jpg" class="img-fluid" alt="">
              <a href="#">
                <div class="mask"></div>
              </a>
            </div>
            <!--/.Card image-->
            <!--Card content-->
            <div class="card-block">
              <!--Title-->
              <h4 class="card-title">8 of Top 10 Use Turner</h4>
              <!--Text-->
              <p class="card-text">The Fortune 500 uses Turner Threat Protection to keep data safe.</p>
              <a href="#" class="btn btn-primary">Read Now</a>
            </div>
            <!--/.Card content-->
          </div>
          <!--/.Card-->
        </div>
        <!--First columnn-->
        <!--Second columnn-->
        <div class="col-md-4">
          <!--Card-->
          <div class="card">
            <!--Card image-->
            <div class="view overlay hm-white-slight">
              <img src="/static/img/tech_card5.jpg" class="img-fluid" alt="">
              <a href="#">
                <div class="mask"></div>
              </a>
            </div>
            <!--/.Card image-->
            <!--Card content-->
            <div class="card-block">
              <!--Title-->
              <h4 class="card-title">Data Prevention for Manufacturing</h4>
              <!--Text-->
              <p class="card-text">Stop IP theft. Protect designs, formulas, business processes, costing, source code and more.</p>
              <a href="#" class="btn btn-primary">Read More</a>
            </div>
            <!--/.Card content-->
          </div>
          <!--/.Card-->
        </div>
        <!--Second columnn-->
        <!--Third columnn-->
        <div class="col-md-4">
          <!--Card-->
          <div class="card">
            <!--Card image-->
            <div class="view overlay hm-white-slight">
              <img src="/static/img/tech_card6.jpg" class="img-fluid" alt="">
              <a href="#">
                <div class="mask"></div>
              </a>
            </div>
            <!--/.Card image-->
            <!--Card content-->
            <div class="card-block">
              <!--Title-->
              <h4 class="card-title">Data Protection at Boeing</h4>
              <!--Text-->
              <p class="card-text">Hear Ted Colbert, CIO of Boeing, as he discusses data loss prevention.</p>
              <a href="#" class="btn btn-primary">Listen Now</a>
            </div>
            <!--/.Card content-->
          </div>
          <!--/.Card-->
        </div>
        <!--Third columnn-->
      </div>

      <!-- Third set of tiles -->

      <div class="row" data-section-val="head" style="display: none;">
        <!--First columnn-->
        <div class="col-md-4">
          <!--Card-->
          <div class="card">
            <!--Card image-->
            <div class="view overlay hm-white-slight">
              <img src="/static/img/tech_card7.jpg" class="img-fluid" alt="">
              <a href="#">
                <div class="mask"></div>
              </a>
            </div>
            <!--/.Card image-->
            <!--Card content-->
            <div class="card-block">
              <!--Title-->
              <h4 class="card-title">Office 365 Email Protection</h4>
              <!--Text-->
              <p class="card-text">Protect your email, files, and Office 365 applications against unknown and sophisticated attacks.</p>
              <a href="#" class="btn btn-primary">Read Now</a>
            </div>
            <!--/.Card content-->
          </div>
          <!--/.Card-->
        </div>
        <!--First columnn-->
        <!--Second columnn-->
        <div class="col-md-4">
          <!--Card-->
          <div class="card">
            <!--Card image-->
            <div class="view overlay hm-white-slight">
              <img src="/static/img/tech_card8.jpg" class="img-fluid" alt="">
              <a href="#">
                <div class="mask"></div>
              </a>
            </div>
            <!--/.Card image-->
            <!--Card content-->
            <div class="card-block">
              <!--Title-->
              <h4 class="card-title">Enterprise Threat Protector (ETP)</h4>
              <!--Text-->
              <p class="card-text">Become proactive and mitigate targeted threats.</p>
              <a href="#" class="btn btn-primary">Read Now</a>
            </div>
            <!--/.Card content-->
          </div>
          <!--/.Card-->
        </div>
        <!--Second columnn-->
        <!--Third columnn-->
        <div class="col-md-4">
          <!--Card-->
          <div class="card">
            <!--Card image-->
            <div class="view overlay hm-white-slight">
              <img src="/static/img/tech_card9.jpg" class="img-fluid" alt="">
              <a href="#">
                <div class="mask"></div>
              </a>
            </div>
            <!--/.Card image-->
            <!--Card content-->
            <div class="card-block">
              <!--Title-->
              <h4 class="card-title">Seamless Security</h4>
              <!--Text-->
              <p class="card-text">Integrate your approach with a unified platform to discover and remediate vulnerabilities.</p>
              <a href="#" class="btn btn-primary">Read Now</a>
            </div>
            <!--/.Card content-->
          </div>
          <!--/.Card-->
        </div>
        <!--Third columnn-->
      </div>

    <!-- end -->

      <aside id="mk-sidebar" class="mk-builtin">
        <div class="sidebar-wrapper">
          <style>
            .RTP_RCMD2 {
            line-height: normal !important;
            }
            .RTP_RCMD2 [data-rtp-id="rtp_rcmd2_tpl_2"] .rtp_rcmd2_img_container {
            height: 100% !important;
            }
          </style>
          <div class="RTP_RCMD2" data-rtp-template-id="template1"></div>
          <script type="text/javascript">// 
            rtp('set', 'rcmd', 'richmedia','template1',
            {
                "rcmd.title.text" : "",
                "rcmd.cta.text" : "Read More →",
                "rcmd.title.background.color" : "#4285F4",
                "rcmd.title.font.color" : "white",
                "rcmd.content.background.color" :"#E2E2E2",
                "rcmd.cta.background.color" : "#2BBBAD",
                "category": ["Technology"]
            }
            );
            rtp('get','rcmd', 'richmedia');
          </script> 
        </div>
      </aside>
    </div>

    <!--/.Content-->
    {% endblock %}		        
  </body>
</html>