html,
body {
    height: 100%;
}
/* Navigation*/

.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: #4285F4;
}

footer.page-footer {
    background-color: #4285F4;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4;
    }
}
/* Carousel*/

.carousel {
    height: 65%;
}

.nav-link img {
    width: 140px;
    height: 40px;
}

@media (max-width: 776px) {
    .carousel {
        height: 100%;
    }
}

.carousel-item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.carousel-item:nth-child(1) {
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.4;
}

/*Caption*/

.flex-center {
    color: #fff;
}

@-webkit-keyframes transformDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes transformDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    -webkit-transform: none;
    transform: none;
  }
}

.transformDown {
  -webkit-animation-name: transformDown;
  animation-name: transformDown;
}