{% extends "base-simple.html" %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
      <title>Predictive Assets | MarketoLive Master</title>
    {% endblock %}
  </head>
  <body>
    {% block page_content %}
      <h1>{{content}}</h1>
    {% endblock %}
    
    {% block scripts %}
      <script src="//app-sjdemo1.marketo.com/js/forms2/js/forms2.min.js"></script>
      <form id="mktoForm_1293"></form>
      <script>
        MktoForms2.loadForm("//app-sjdemo1.marketo.com", "185-NGX-811", 1293);
      </script>
    {% endblock %}
  </body>
</html>