{% extends "base-simple.html" %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
      <title>Predictive Assets | MarketoLive</title>
    {% endblock %}
  </head>
  <body>
    {% block page_content %}
      <h1>{{content}}</h1>
    {% endblock %}
    
    {% block scripts %}
      <script src="//app-sjp.marketo.com/js/forms2/js/forms2.min.js"></script>
      <form id="mktoForm_5288"></form>
      <script>
        MktoForms2.loadForm("//app-sjp.marketo.com", "026-COU-482", 5288);
      </script>
    {% endblock %}
  </body>
</html>