{% extends "base-simple.html" %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
      <title>Predictive Assets | MarketoLive Partner</title>
    {% endblock %}
  </head>
  <body>
    {% block page_content %}
      <h1>{{content}}</h1>
    {% endblock %}
    
    {% block scripts %}
      <script src="//app-sj11.marketo.com/js/forms2/js/forms2.min.js"></script>
      <form id="mktoForm_4546"></form>
      <script>
        MktoForms2.loadForm("//app-sj11.marketo.com", "767-TVJ-204", 4546);
      </script>
    {% endblock %}
  </body>
</html>