{% extends "base-no-tags.html" %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <title>Turner Drives</title>
    <script type="text/javascript">
      (function () {
        var didInit = false;
        function initMunchkin() {
          if (didInit === false) {
            didInit = true;
            Munchkin.init('951-JIQ-453');
          }
        }
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = '//munchkin.marketo.net/munchkin.js';
        s.onreadystatechange = function () {
          if (this.readyState == 'complete' || this.readyState == 'loaded') {
            initMunchkin();
          }
        };
        s.onload = initMunchkin;
        document.getElementsByTagName('head')[0].appendChild(s);
      })();
      
      (function (c, h, a, f, i, e) {
        c[a] = c[a] || function () {
          (c[a].q = c[a].q || []).push(arguments)
        };
        c[a].a = i;
        c[a].e = e;
        var g = h.createElement("script");
        g.async = true;
        g.type = "text/javascript";
        g.src = f + '?aid=' + i;
        var b = h.getElementsByTagName("script")[0];
        b.parentNode.insertBefore(g, b);
      })(window, document, "rtp", "//sjrtp4-cdn.marketo.com/rtp-api/v1/rtp.js", "mktodemoaccount397");
      
      rtp('send', 'view');
      rtp('get', 'campaign', true);
    </script>
    {% endblock %}
  </head>
  <body>
    {% block navbar %}
    <!--Navbar-->
    <nav class="navbar navbar-fixed-top navbar-dark bg-primary">
      <!-- Collapse button-->
      <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapseEx2">
      <i class="fa fa-bars"></i>
      </button>
      <div class="container">
        <!--Collapse content-->
        <div class="collapse navbar-toggleable-xs" id="collapseEx2">
          <!--Navbar Brand-->
          <a class="navbar-brand"></a>
          <!--Links-->
          <ul class="nav navbar-nav">
            <!-- <li id="navbar-logo" class="nav-item">
              <a class="nav-link">
                  <img src="/static/img/turner-travel.png">
              </a>
              </li> -->
            <li class="nav-item active">
              <a class="nav-link">Model X<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Model Y</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Model Z</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Test Drive</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Inventory</a>
            </li>
          </ul>
          <ul class="nav navbar-nav nav-flex-icons">
            <li class="nav-item btn-group">
              <a class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Web Content</a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <a class="dropdown-item" href="{{vert}}">Default</a>
                <a class="dropdown-item" href="?display=personalized">Personalized</a>
                <div class="dropdown-divider"></div>
                <h6 class="dropdown-header">Display</h6>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="?display=form">Form</a>
                <a class="dropdown-item" href="?display=dialog">Dialog</a>
                <a class="dropdown-item" href="?display=widget">Widget</a>
                <div class="dropdown-divider"></div>
                <h6 class="dropdown-header">Predictive Content</h6>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="?predictive-content=bar">Web Bar</a>
                <a class="dropdown-item" href="?predictive-content=rich-media">Rich Media</a>
              </div>
            </li>
            <li class="nav-item btn-group">
              <a class="nav-link dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ad Retargeting</a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <a class="dropdown-item" href="/ad-retargeting/google/{{vert}}" target="_blank">Google</a>
                <a class="dropdown-item" href="/ad-retargeting/facebook/{{vert}}" target="_blank">Facebook</a>
              </div>
            </li>
            <li class="nav-item btn-group">
              <a class="nav-link dropdown-toggle" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Locale</a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu3">
                <a class="dropdown-item" href="/local?country=au">Australia</a>
                <a class="dropdown-item" href="/local?country=ca">Canada</a>
                <a class="dropdown-item" href="/local?country=fr">France</a>
                <a class="dropdown-item" href="/local?country=de">Germany</a>
                <a class="dropdown-item" href="/local?country=jp">Japan</a>
                <a class="dropdown-item" href="/local?country=uk">United Kingdom</a>
                <a class="dropdown-item" href="/local?country=us">United States</a>
              </div>
            </li>
            <li class="nav-item btn-group">
              <a class="nav-link dropdown-toggle" id="dropdownMenu4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Verticals</a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu4">
                <a class="dropdown-item" href="asset-management">Asset Management</a>
                <a class="dropdown-item" href="healthcare">Healthcare</a>
                <a class="dropdown-item" href="higher-education">Higher Education</a>
                <a class="dropdown-item" href="manufacturing">Manufacturing</a>
                <a class="dropdown-item" href="mobile-provider">Mobile Provider</a>
                <a class="dropdown-item" href="retail-banking">Retail Banking</a>
                <a class="dropdown-item" href="sports">Sports</a>
                <a class="dropdown-item" href="technology">Technology</a>
                <a class="dropdown-item" href="telecommunications">Telecommunications</a>
                <a class="dropdown-item" href="travel-and-leisure">Travel &amp; Leisure</a>
              </div>
            </li>
          </ul>
        </div>
        <!--/.Collapse content-->
      </div>
    </nav>
    <!--/.Navbar-->
    {% endblock %} 
    {% block carousel_content %}
    <!--Carousel Wrapper-->
    <div id="carousel-example-1" class="carousel slide carousel-fade" data-ride="carousel">
      <!--Slides-->
      <div class="carousel-inner" role="listbox">
        <!--First slide-->
        <div style="z-index: 0; height: 100%; background-color: rgba(17, 17, 17, 1);">
          <div id="rtp-replace" class="carousel-item active" style="background-image: url('https://www.tesla.com/tesla_theme/assets/img/models/v1.0/slideshow/Rear_Detail-1440.jpg?20171005'); background-size: cover; overflow: hidden; opacity: 0.667;"></div>
          <div style="z-index: 1; position: relative; top: -95%; height: 100%;">
            <div class="flex-center animated transformDown">
              <ul>
                <li>
                  <h1 class="h1-responsive">Quickest Acceleration. Longest Range. The Safest Cars Ever.</h1>
                </li>
                <li>
                  <a class="btn btn-default btn-lg bg-primary" href="?display=personalized">Order Yours</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!--/.First slide-->
      </div>
      <!--/.Slides-->
    </div>
    <!--/.Carousel Wrapper-->
    {% endblock %}
    {% block page_content %}
    <!--Content-->
    <div class="container">
      <div class="row">
        <!--First columnn-->
        <div class="col-md-4">
          <!--Card-->
          <div class="card">
            <!--Card image-->
            <div class="view overlay hm-white-slight">
              <img src="https://www.tesla.com/sites/default/files/images/model-x/section-hero-background.jpg?20170907" class="img-fluid" alt="">
              <a href="#">
                <div class="mask"></div>
              </a>
            </div>
            <!--/.Card image-->
            <!--Card content-->
            <div class="card-block">
              <!--Title-->
              <h4 class="card-title">Model X</h4>
              <!--Text-->
              <p class="card-text">The safest, quickest, and most capable sport utility vehicle in history.</p>
              <a href="#" class="btn btn-primary">Custom Order</a>
            </div>
            <!--/.Card content-->
          </div>
          <!--/.Card-->
        </div>
        <!--First columnn-->
        <!--Second columnn-->
        <div class="col-md-4">
          <!--Card-->
          <div class="card">
            <!--Card image-->
            <div class="view overlay hm-white-slight">
              <img src="https://www.tesla.com/tesla_theme/assets/img/models/v1.0/section-hero-background.jpg?20171005" class="img-fluid" alt="">
              <a href="#">
                <div class="mask"></div>
              </a>
            </div>
            <!--/.Card image-->
            <!--Card content-->
            <div class="card-block">
              <!--Title-->
              <h4 class="card-title">Model Y</h4>
              <!--Text-->
              <p class="card-text">Designed from the ground up to be the safest, most exhilarating sedan on the road.</p>
              <a href="#" class="btn btn-primary">Custom Order</a>
            </div>
            <!--/.Card content-->
          </div>
          <!--/.Card-->
        </div>
        <!--Second columnn-->
        <!--Third columnn-->
        <div class="col-md-4">
          <!--Card-->
          <div class="card">
            <!--Card image-->
            <div class="view overlay hm-white-slight">
              <img src="https://www.tesla.com/sites/default/files/images/updates/hero-model_s.jpg?20170406" class="img-fluid" alt="">
              <a href="#">
                <div class="mask"></div>
              </a>
            </div>
            <!--/.Card image-->
            <!--Card content-->
            <div class="card-block">
              <!--Title-->
              <h4 class="card-title">Model Z</h4>
              <!--Text-->
              <p class="card-text">Achieves 220 miles of range while starting at only $35,000 before incentives.</p>
              <a href="#" class="btn btn-primary">Reserve Yours</a>
            </div>
            <!--/.Card content-->
          </div>
          <!--/.Card-->
        </div>
        <!--Third columnn-->
      </div>
      <aside id="mk-sidebar" class="mk-builtin">
        <div class="sidebar-wrapper">
          <style>
            .RTP_RCMD2 {
            line-height: normal !important;
            }
            .RTP_RCMD2 [data-rtp-id="rtp_rcmd2_tpl_2"] .rtp_rcmd2_img_container {
            height: 100% !important;
            }
          </style>
          <div class="RTP_RCMD2" data-rtp-template-id="template1"></div>
          <script type="text/javascript">
            rtp('set', 'rcmd', 'richmedia', 'template1', {
              "rcmd.title.text": "",
              "rcmd.cta.text": "Learn More →",
              "rcmd.title.background.color": "#4285F4",
              "rcmd.title.font.color": "white",
              "rcmd.content.background.color": "#E2E2E2",
              "rcmd.cta.background.color": "#2BBBAD"
            });
            rtp('get', 'rcmd', 'richmedia');
          </script>
        </div>
      </aside>
    </div>
    <!--/.Content-->
    {% endblock %}		        
  </body>
</html>